#footer{
	padding: 2em;
	font-family: montserrat;
	color: #fff;
}

#form{
	
margin-bottom: 2em;	
}
/*.flex{
	display: flex;
	flex-wrap: wrap;

}*/
.head{
	padding:0.7em 0em 0.7em 0em;
}
a{
	color: #fff;
	text-align: center;
	padding: 0.5em;
}

a:hover{
	color:#E1DB46;
	text-decoration: none; 
}
.row{
	padding-bottom: 2em;
}
ul{
	padding: 0px;
	margin: 0px;
}
li{
	list-style: none;
	text-align: left;
}
#email{
	padding: 0.8em;
	width: 37em;
	border-radius: 4%;
	margin-right:2em;


}
#submit{
	border-radius: 11px;
	padding: 0.8em;
	background: #E1DB46;
	width: 13em;
	font-size: 1em;
	font-weight: bold;
	color: #252525

}
.col-con{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.cont{
padding-bottom: 1em
}
.col1{

}

.co2, .co3{
	text-align: left;
	padding-bottom: 0.5em;
}
.con{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: flex-end; 
}

.child1{
	order: 1;
}
.child2{
	order: 2;
}
@media (max-width: 768px){
	#email{
		width: 100%;
	}
	.head{
		font-size: 1.65em;
	}
	.co2, .co3{
		text-align: left;
	}
	.cont{
		padding-bottom:.5em;
	}
	
}

@media (max-width: 576px){
	.head{
		font-size: 1.2em;
	}
		.co2, .co3{
		text-align: left;
	}
	.fab{
		padding: 0.1em 0em 0.1em 0em;
		size: 1.5px;
	}
	.child1{
		font-size: 0.9em;
	}
	.cont{
 padding-bottom: .2em;
	}
}